{% extends "base.html" %}

{% block title %}
dfektLAN - Games
{% endblock title %}

{% block content %}
    <div class="col-md-9">
        <h1>Compoer</h1>
        <ul class="nav nav-tabs" id="gameTabs">
        <li class="active"><a href="#all" data-toggle="tab">All</a></li>
        {% for g in all_games %}
            <li><a href="#{{ g.pk }}" data-toggle="tab">{{ g.title }}</a></li>
        {% endfor %}
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade in active" id="all">
                <table id="allGames" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>Tittel</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for value in tournaments.values %}
                            {% for t in value %}
                                <tr>
                                    <td>{{ t.get_status_display }}</td>
                                    <td>{{ t.title }}</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {% for key,value in tournaments.items %}
                <div class="tab-pane fade" id="{{ key.pk }}">
                    <table id="allGames" class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Status</th>
                                <th>Tittel</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for t in value %}
                                <tr>
                                    <td>{{ t.get_status_display }}</td>
                                    <td>{{ t.title }}</td>
                                </tr>
                            {% endfor %}
                        </body>
                    </table>
                </div>
            {% endfor %}
        </div>
    
    </div>
{% endblock content %}