{% extends "base.html" %}

{% block title %}
dfektLAN - Games
{% endblock title %}

{% block content %}
    <div class="col-md-9">

        <ul class="nav nav-tabs" id="MyTab">
        <li class="active"><a href="#all" data-toggle="tab">All</a></li>
        {% for g in all_games %}
            <li><a href="#{{ g.pk }}" data-toggle="tab">{{ g.title }}</a></li>
        {% endfor %}
        </ul>

        <div class="tab-content">
           <div class="tab-pane fade in active" id="all">
                <p>ALL</p>
               <p>{{ tournaments }}</p>
            </div>
            {% for key,value in tournaments.items %}
                <div class="tab-pane fade" id="{{ key.pk }}">
                    {% for t in value %}
                       <p>{{ t.title }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

    </div>

    <script>
        $('#MyTab').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        })
        $(function () {
            $('#MyTab a:first').tab('show');
        })
        $('a[data-toggle="tab"]').on('shown', function (e) {
            e.target
            e.relatedTarget
        })
    </script>
{% endblock content %}

<!-- {% for g in all_games %}
            <li><a href="#{{ g.title }}">{{ g.title }}</a></li>
        {% endfor %}

         {% for g in all_games %}
            <div class="tab-content" id="{{ g.title }}">
                <p>{{ tournaments.g }}</p>
            </div>
        {% endfor %}
        -->