{% extends "base.html" %}

{% block title %}
dfektLAN - Tournament
{% endblock title %}

{% block content %}
    <div class="col-md-9">
        <h1>{{ tournament.title }}</h1>
        <div class="col-md-8">
            {% if tournament.get_status_display == "FINISHED" %}
                <h4>Resultat</h4>
                <p>1., 2., 3. -plass osv osv</p>
            {% endif %}
            <h4>Beskrivelse</h4>
            <p>{{ tournament.description }}</p>
        </div>
        <div class="col-md-3">
            {% if tournament.get_status_display == "OPEN" %}
                <button type="button" class="btn btn-primary btn-lg btn-block">Meld deg på</button>
            {% endif %}
            <h4>Deltagere</h4>
            {% for p in participants %}
                <p>{{ p }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock content %}