{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
dfekt LAN - Tournament
{% endblock title %}

{% block content %}
    <div class="col-md-9">
        <h1>{{ tournament.title }}</h1>
        <div class="col-md-8">
            {% if tournament.get_status_display == "FINISHED" %}
                <h4>Resultat</h4>
                <p>1., 2., 3. -plass osv osv</p>
            {% endif %}
            <h4>Beskrivelse</h4>
            <p>{{ tournament.description }}</p>
        </div>
        <div class="col-md-3">
            {% if tournament.get_status_display == "OPEN" %}
                {% if tournament.use_teams %}

                    <--! Need to check if user already is in a team -->
                    {% if user.is_authenticated %}
                        <a href="{% url 'check_user' tournament.id %}">
                            <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#register">Meld deg på</button>
                        </a>
                    {% else %}
                        <a href="{% url 'check_user' tournament.id %}">
                            <button type="button" class="btn btn-primary btn-lg btn-block">Meld deg på</button>
                        </a>
                    {% endif %}

                {% else %}
                    <a href="{% url 'register_to_tournament' tournament.id %}">
                        <button type="button" class="btn btn-primary btn-lg btn-block">Meld deg på</button>
                    </a>
                {% endif %}
            {% endif %}
            <h4>Deltagere</h4>
                {% if tournament.use_teams %}
                    {% for p in participants %}
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#{{ p }}">
                                            {{ p }}
                                        </a>
                                    </h4>
                                </div>
                                <div id="{{ p }}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <strong>{{ p.team.teamleader.nickname }}</strong>
                                        {{ p.team.members.get.nickname }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <ul>
                        {% for p in participants %}
                            <li><a class="text-info" href="{% url 'profile' p.user.id %}">{{ p }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
        </div>
    </div>

<!-- register-modal -->
<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="registerModalLabel">Påmelding</h4>
      </div>
      <div class="modal-body">
        Kanskje vi kan bruke denne til å registrere lag til compo? ...
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Meld på!</button>
        </form>
        <button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

