{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load markup_tags %}

{% block include %}
<script type="text/javascript">$('#register').on('shown.bs.modal', function() { $("#id_members").chosen({max_selected_options: {{ tournament.max_pr_team }} }); });</script>
{% endblock %}

{% block title %}
dfekt LAN - Tournament
{% endblock title %}

{% block content %}
    <div class="col-md-9">
        <h1>{{ tournament.title }}</h1>
        {% if tournament.get_status_display == "ABOUT_TO_START" or tournament.get_status_display == "IN_PROGRESS" %}
            {% if user.is_crew %}
                {% if tournament.challonge_id == "" %}
                {% endif %}
                    <span class="badge pull-right" class="label label-default">Status: {{ tournament.get_status_display }}</span>
                    <h4>Administrer Challonge!-turnering</h4>
                    <p>Herfra kan du opprette, starte og slette Challonge!-turneringen. Score kan settes i vinduet nedenfor etter at turneringen er startet.
                        OBS! Det kan ta litt tid å lage turneringen. Når alle matcher er ferdig kan du gjøre nødvendige endringer før du trykker "End tournament".
                        Publiser deretter resultatet ved å trykke "Publiser".</p>
                    <div class="col-md-4">
                    <form class="form-inline" method="post" action="create_tournament/">
                        {% csrf_token %}
                        {{ challonge_form|crispy }}
                        <button type="submit" class="btn btn-primary">Velg</button>
                    </form>
                    </div>
                    <a class="btn btn-success btn-lg" href="{% url 'create_tournament' tournament.id %}">Lag</a>
                    <a href="{% url 'start_tournament' tournament.id %}">
                        <button type="button" class="btn btn-primary btn-lg">Start</button>
                    </a>
                    <a href="{% url 'destroy_tournament' tournament.id %}">
                        <button type="button" class="btn btn-danger btn-lg">Slett</button>
                    </a>
                    <a href="{% url 'finalize_tournament' tournament.id %}">
                        <button type="button" class="btn btn-info btn-lg">Publiser</button>
                    </a>
                    <iframe id="challonge" src="{{ challonge_url }}/module?theme=1&show_final_results=1&" width="100%" height="500" frameborder="0" scrolling="auto" allowtransparency="true"></iframe>
            {% endif %}
        {% endif %}
        {% if tournament.get_status_display == "FINISHED" or tournament.get_status_display == "IN_PROGRESS" %}
            <img src="{{ challonge_image }}">
        {% endif %}
        <div class="col-md-8">
            {% if tournament.get_status_display == "CLOSED" %}
                <span class="badge pull-right" class="label label-default">Registration starts in {{ tournament.reg_start|timeuntil }}</span>
            {% elif tournament.get_status_display == "OPEN" %}
                <span class="badge pull-right" class="label label-default">Registration closes in {{ tournament.reg_stop|timeuntil }}</span>
            {% elif tournament.get_status_display == "ABOUT_TO_START" %}
                <span class="badge pull-right" class="label label-default">Tournament is about to start</span>
            {% endif %}
            <h4>Beskrivelse</h4>
            <p>{{ tournament.description|dfekt_markdown }}</p>
        </div>
        <div class="col-md-3">
            {% if tournament.get_status_display == "CLOSED" %}
                <button type="button" class="btn btn-primary btn-lg btn-block" disabled="disabled">Meld deg på</button>
            {% elif tournament.get_status_display == "OPEN" %}
                {% if not user.is_authenticated %}
                    <a href="{% url 'check_user' tournament.id %}">
                        <button type="button" class="btn btn-primary btn-lg btn-block">Meld deg på</button>
                    </a>
                {% elif is_participant or is_teamleader %}
                    <a href="{% url 'remove_participant' tournament.id %}">
                        <button type="button" class="btn btn-danger btn-lg btn-block">Meld deg av</button>
                    </a>
                {% elif tournament.use_teams %}
                        <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#register">Meld deg på</button>
                {% else %}
                    <a href="{% url 'register_to_tournament' tournament.id %}">
                        <button type="button" class="btn btn-primary btn-lg btn-block">Meld deg på</button>
                    </a>
                {% endif %}

            {% endif %}
            <h4>Deltagere</h4>
                {% if tournament.use_teams %}
                    {% for team in participants %}
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#{{ team.id }}">
                                            {{ team }}
                                        </a>
                                    </h4>
                                </div>
                                <div id="{{ team.id }}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <strong><a class="text-info" href="{% url 'profile' team.teamleader.id %}">{{ team.teamleader.nickname }}</a></strong>
                                        <ul class="list-unstyled">
                                            {% for member in team.members.all %}
                                                <li data-toggle="tooltip" title="{{ member }}"><a class="text-info" href="{% url 'profile' member.id %}">{{ member.nickname }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <ul>
                        {% for user in participants %}
                            <li data-toggle="tooltip" title="{{ user }}"><a class="text-info" href="{% url 'profile' user.id %}">{{ user.nickname }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
        </div>
    </div>

<!-- register-modal -->
<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="registerModalLabel">Påmelding</h4>
      </div>
      <div class="modal-body">
          Registrer ditt lag!
          Skriv inn et lagnavn, og begynn å skrive inn deltagere.
          Maksimalt antall deltagere til denne turneringen er {{ tournament.max_pr_team }} + lagleder (deg).
        <form method="post" action="add_team/">
            {% csrf_token %}
            {{ team_form|crispy }}
      </div>
      <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Meld på!</button>
        </form>
        <button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

