{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
dfekt LAN - Account recovery
{% endblock title %}

{% block content %}
    <div class="col-md-9">
        {{ form.non_field_errors }}
        <form class="form-horizontal" method="post" action="{% url "auth_recover" %}">{% csrf_token %}
            <fieldset>
                <legend>Account recovery</legend>
                    {{ form|crispy }}
                <div class="form-actions">
                    <input type="submit" class="btn btn-primary" value="Recover" />
                </div>
            </fieldset>
        </form>
    </div>

{% endblock content %}
