{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
studLAN - Change password
{% endblock title %}

{% block content %}
    <div class="content">
        {{ form.non_field_errors }}
        <form method="post" action="{% url "auth_set_password" token %}">{% csrf_token %}
            <fieldset>
		    <legend>Change password</legend>
                {{ form|crispy }}
            <div class="actions">
                <input type="submit" class="btn primary" value="Change password" />
            </div>
            </fieldset>
        </form>

    </div>

{% endblock content %}
