{% load flatpages %}
{% get_flatpages '/about/' as about_pages %}
{% get_flatpages '/event/' as event_pages %}
{% get_flatpages '/info/' as info_pages %}

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="{{ MEDIA_URL }}/dfektlogo.svg" height="25px"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            {% if user.is_authenticated %}
            <div class="pull-right">
              <a href="{% url "myprofile" %}"><button class="btn-sm btn-primary"> {{ user.username }}</button></a>
              <a href="{% url "auth_logout" %}"><button class="btn-sm btn-danger">Logg ut</button></a>
            </div>
            {% else %}
            <div class="pull-right">
              <a href="{% url "auth_login" %}"><button class="btn-sm btn-primary">Logg inn</button></a>
              <a href="{% url "auth_register" %}"><button class="btn-sm btn-info">Registrer</button></a>
              </div>
            {% endif %}
          <ul class="nav navbar-nav">
            <!--<li class=""><a href="{% url "root" %}">Hjem</a></li>-->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Informasjon</a>
                <ul class="dropdown-menu">
                    {% for page in info_pages %}
                        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                    {% endfor %}
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Event</a>
                <ul class="dropdown-menu">
                    {% for page in event_pages %}
                        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                    {% endfor %}
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Om</a>
                <ul class="dropdown-menu">
                    {% for page in about_pages %}
                        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                    {% endfor %}
                </ul>
              </li>
              <li class=""><a href="{% url "sponsor_index" %}">Sponsorer</a></li>
              <li><a href="https://www.geekevents.org/dfektv14/shop/">Kjøp Billett</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
{% endblock %}
