{% load sponsor_tags %}
{% block sidebar %}
    <ul class="nav nav-list">
        <li class="nav-header">Sidebar</li>
        <li class="active"><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li class="nav-header">Sidebar</li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>

        {% block sidebar_specific %}
        {% endblock sidebar_specific %}
        
    </ul> 
    <div>
    <ul class="nav nav-list">
        <li class="nav-header"><h5>Sponsorer</h5></li>
        {% show_sponsor_list %}
    </ul>    
    </div>
{% endblock %}
