{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
dfektLAN - Logistikk
{% endblock title %}

{% block content %}
{% csrf_token %}
    <div class="col-md-9">
        <h4>Sortiment</h4>
        <table class="table table-striped table-bordered">
        <tr><th>Gruppe</th><th>Merke</th><th>Modell</th><th>Beskrivelse</th><th>Innehaver</th></tr>
        <form action="" method="post">
        {% csrf_token %}
        {% for item, form in both %}
        <tr><td>{{ item.itemgroup.name }}</td><td>{{ item.brand }}</td><td>{{ item.product_model }}</td><td>{{ item.description }} {{item.id }}</td>
        <td>
            {{ form.holder|crispy }}
            <input type="hidden" name="id" value="{{ item.id }}">
        </td></tr>
        {% empty %}
        <tr><td>Det er ingen gjenstander i ditt sortiment</td><td></td><td></td><td></td><td></td></tr>
        {% endfor %}
        </table>
        <button class="btn btn-primary" type="submit">Lagre</button>
        </form>
    </div>
{% endblock content%}
