{% extends "base.html" %}
{% load gravatar_url_resolver %}


{% block title %}
dfektLAN - Crew
{% endblock title %}

{% block content %}
{% csrf_token %}

    <div class="col-md-9">
        {% for team in crewteams %}
        <a href="{%  url 'crewteam' team.id %}">
            <h2>{{ team.name }}</h2>
        </a>
        <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Navn</th>
                            <th>Telefon</th>
                        </tr>
                    </thead>
                    {% for member in team.members.all %}
                    {% get_gravatar_url member.user 40 as gravatar_url %}
                        <tr onclick="document.location = '{% url 'profile' member.user.id %}'">
                            <td><span><img class="" src="{{ gravatar_url }}" width="40"></span></td>
                            <td><span class="">{{ member.user.first_name }} {{ member.user.last_name }}</span></td>
                            <td><span class="pull-right">{{  member.user.phone }}</span></td>
                        </tr>
                    {% endfor %}
        </table>
        {% endfor %}
    </div>

{% endblock content%}
