{% extends "base.html" %}

{% block title %}
dfektLAN - Crew
{% endblock title %}

{% block content %}
{% csrf_token %}
    <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="{% url 'crewteam' crewteam.id %}"><h3 class="panel-title">{{ crewteam.name }}</h3></a>
                </div>
                <div class="panel-body">
                </div>
                 <ul class="list-group">
                    {% for member in members %}
                        <a href="{% url 'profile' member.user.id %}">
                            <li class="list-group-item">{{ member.user.first_name }} {{ member.user.last_name }}<span class="pull-right">{{  member.user.phone }}</span></li>
                        </a>
                    {% endfor %}
                 </ul>
            </div>
    </div>
{% endblock content%}
