{% extends "base.html" %}

{% block title %}
dfektLAN - Søknader
{% endblock title %}

{% block content %}
{% csrf_token %}
    <div class="span9">
        <h4>Pending</h4>
        <table class="table table-striped table-bordered">
        <tr><th>Navn</th><th>Crew</th><th>Sendt</th></tr>
        {% for ap in pending %}
        <tr><td>{{ ap.user.first_name }} {{ ap.user.last_name }}</td><td>{{ ap.get_crew_display }}</td><td>{{ ap.date }}</td></tr>
        {% empty %}
        <tr><td>Det er ingen ubehandlede søknader</td><td></td><td></td></tr>
        {% endfor %}
        </table>
        <h4>Approved</h4>
        <table class="table table-striped table-bordered">
        <tr><th>Navn</th><th>Crew</th><th>Sendt</th></tr>
        {% for ap in approved %}
        <tr><td>{{ ap.user.first_name }} {{ ap.user.last_name }}</td><td>{{ ap.get_crew_display }}</td><td>{{ ap.date }}</td></tr>
        {% empty %}
        <tr><td>Det er ingen godkjente søknader</td><td></td><td></td></tr>
        {% endfor %}
        </table>
        <h4>Declined</h4>
        <table class="table table-striped table-bordered">
        <tr><th>Navn</th><th>Crew</th><th>Sendt</th></tr>
        {% for ap in declined %}
        <tr><td>{{ ap.user.first_name }} {{ ap.user.last_name }}</td><td>{{ ap.get_crew_display }}</td><td>{{ ap.date }}</td></tr>
        {% empty %}
        <tr><td>Det er ingen underkjente søknader</td><td></td><td></td></tr>
        {% endfor %}
        </table>
    </div>
{% endblock content%}
