{% extends "base.html" %}

{% block title %}
dfektLAN - Søknader
{% endblock title %}

{% block content %}
{% csrf_token %}
    <div class="span9">
        <h4>Dine søknader</h4>
        <table class="table table-striped table-bordered">
        <tr><th>Navn</th><th>Crew</th><th>Sendt</th><th>Status</th></tr>
        {% for ap in apps %}
        <tr><td>{{ ap.user.first_name }} {{ ap.user.last_name }}</td><td>{{ ap.get_crew_display }}</td><td>{{ ap.date }}</td><td>{{ ap.get_status_display }}</td></tr>
        {% empty %}
        <tr><td>Det er ingen søknader</td><td></td><td></td></tr>
        {% endfor %}
        </table>
    </div>
{% endblock content%}
