{% extends 'base.html' %}
 
{% block title %}
{{post.title}}
{% endblock %}
 
{% block content %}
    <div class="span9">
        <h1> {{post.title}} </h1>
        <p>
            Posted on
            <time datetime="{{post.created|date:"c"}}">
            {{post.created|date}}
            </time>
        </p>
        <p> {{post.summary}} </p>
        <p> {{post.content}} </p>

    <a href="{% url 'news_overview' %}"<button class="btn btn-primary" type="button">Tilbake</button> </a>
   
   </div>
{% endblock %}
