{% extends 'base.html' %}
{% load markup_tags %}
 
{% block title %}
{{post.title}}
{% endblock %}
 
{% block content %}
    <div class="col-md-9">
        <div class="row">
            <h1> {{post.title}} </h1>
            <div class="col-md-9">
                <p>
                    Publisert den
                    <time datetime="{{post.created|date:'d.m.Y H:i'}}">
                    {{post.created|date:'d.m.Y H:i'}}
                    </time>
                    av <a href="#"> {{post.author}} </a>
                    {% if user.is_superuser %}
                    <span class="pull-right">
                        <a href="{% url 'admin:news_post_change' post.id %}">Edit</a>
                    </span>
                    {% endif %}
                </p>
                <p> {{post.summary}} </p>
                <p> {{post.content|dfekt_markdown }} </p>
                <a href="{% url 'news_overview' %}"<button class="btn btn-primary" type="button">Tilbake</button> </a>
            </div>
            <div class="col-md-4">
                {% if post.image %}
                <img src="{{ post.image.url }}" width=320 height=426 >
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
