{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block include %}
    <script src="{{ STATIC_URL }}js/seatmap/raphael-min.js"></script>
    <script src="http://cdn.jsdelivr.net/jquery.cookie/1.4.0/jquery.cookie.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.djangocsrf.js"></script>
    <script language="javascript">
        $.djangocsrf( "enable" );
        var current_seatmap = {{ json_seatmap|safe }};
    </script>
    <script src="{{ STATIC_URL }}js/seatmap/edit.js"></script>
{% endblock %}

{% block title%}
dfekt LAN - Rediger seatmap
{% endblock title %}


{% block content %}
    <div class="col-md-9">
        <h1>Seatmap</h1>
        <div id="seatmap"></div>
        <div id="selected-info" class="row">
            <table class="table">
                <tr>
                    <th>Row</th>
                    <th>Seat</th>
                    <th>Pos x</th>
                    <th>Pos y</th>
                </tr>
                <tr>
                    <td><p id="row-text"></td>
                    <td><p id="seat-text"></td>
                    <td><p id="pos_x"></td>
                    <td><p id="pos_y"></td>
                </tr>

            </table>
        </div>
        <div>
            <label>Radnummer:</label>
            <input id="rownumber">
            <label>Antall plasser:</label>
            <input id="amount">
            <label>Rettning:</label>
            <select id="orientation">
                <option value="0">Vertikal</option>
                <option value="1">Horisontal</option>
            </select>
        </div>
        <button id="add_new_row" class="btn btn-primary" onclick="createNewRow()">Lag rad</button>
        <button id="remove_selected_row" class="btn btn-primary" onclick="removeRow()">Slett rad</button>
        <button id="save_seatmap" class="btn btn-primary">Lagre</button>
    </div>

{% endblock content %}
