{% extends "base.html" %}

{% block title %}
dfektLAN - Min profil
{% endblock title %}

{% block content %}
{% csrf_token %}
    <div class="col-md-9">
        <h2>{{ user.first_name }} {{ user.last_name }}</h2>
        <div class="col-md-7">
            <div class="row">
                {% if user.image %}
                <img src="{{ user.image.url }}" width=160 height=213>
                {% endif %}
                <div class="col-md-4">
                    <strong>Nickname</strong>
                    <ul class="unstyled"><li>{{ user.nickname }}</li></ul>
                </div>
                <div class="col-md-4">
                    <strong>Fødselsdag</strong>
                    <ul class="unstyled"><li>{{ user.date_of_birth }}</li></ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <strong>Addresse</strong>
                    <ul class="unstyled"><li>{{ user.address }}</li><li>{{ user.town }} {{ user.zip_code }} {{ user.country }}</li></ul>
                </div>
                <div class="col-md-4">
                    <strong>Telefon</strong>
                    <ul class="unstyled"><li>{{ user.phone }}</li></ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <strong>Skype</strong>
                    <ul class="unstyled"><li>{{ user.skype }}</li></ul>
                </div>
                <div class="col-md-4">
                    <strong>Steam</strong>
                    <ul class="unstyled"><li>{{ user.steam }}</li></ul>
                </div>
            </div>
            <div class="row">
                {% if user.position %}
                <div class="col-md-4">
                    <strong>Posisjon</strong>
                    <ul class="unstyled"><li>{{ user.position }}</li></ul>
                </div>
                {% endif %}
                {% if user.cheif %}
                <div class="col-md-4">
                    <strong>Chief</strong>
                    <ul class="unstyled"><li>Ja</li></ul>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-4">
            <a href="{% url 'user_overview' %}"><h4>Crew søknader</h4></a>
            <table data-provides="rowlink" class="table table-striped table-bordered">
                <tr><th>Crew</th><th>Status</th></tr>
                {% for app in apps %}
                    <tr><td><a href="{% url 'edit_application' app.id %}">{{ app.get_crew_display }}</a></td><td>{{ app.get_status_display }}</td></tr>
                {% endfor %}
            </table>
            <a href="{% url 'new_application' %}"><button class="btn btn-primary">Ny søknad</button></a>
            <h4>Deltatt</h4>
            <table class="table table-striped table-bordered">
                <tr><th>Arrangement</th></tr>
                
            </table>
        </div>
    </div>
{% endblock content%}
