{% extends "base.html" %}
{% load gravatar_url_resolver %}

{% block title %}
dfektLAN - Min profil
{% endblock title %}

{% block content %}
{% csrf_token %}
    <div class="col-md-9">
        <h2>{{ user.first_name }} {{ user.last_name }}</h2>
        <div class="col-md-7">
            <div class="row">

                <strong>Bilde</strong>
                <i id="image-help" class="glyphicon glyphicon-info-sign" href="#" data-toggle="popover" title="" data-content="Vi henter bilder fra Gravatar! For å få hentet bildet ditt må epost-adresse du har registert hos oss også være registrert hos Gravatar. Konto kan registreres på https://gravatar.com." data-original-title="Hjelpeinformasjon"></i>
            </div>
            <div class="row">
                {% get_gravatar_url user 287 as gravatar_url %}
                <img class="img-thumbnail" src="{{ gravatar_url }}" width="287">
            </div>
            <div class="row">    
                <div class="col-xs-6 col-sm-4">
                    <strong>Nickname</strong>
                    <p>{{ user.nickname }}</p>
                </div>
                <div class="col-xs-6 col-sm-4">
                    <strong>Fødselsdag</strong>
                    <p>{{ user.date_of_birth|date:'d.m.Y' }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-4">
                    <strong>Addresse</strong>
                    <p>{{ user.address }}<br> {{ user.zip_code }} {{ user.town }} <br> {{ user.country }}</p>
                </div>
                <div class="col-xs-6 col-sm-4">
                    <strong>Telefon</strong>
                    <p>{{ user.phone }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-4">
                    <strong>Skype</strong>
                    <p>{{ user.skype }}</p>
                </div>
                <div class="col-xs-6 col-sm-4">
                    <strong>Steam</strong>
                    <p>{{ user.steam }}</p>
                </div>
            </div>
            <div class="row">
                {% if user.position %}
                <div class="col-xs-6 col-sm-4">
                    <strong>Posisjon</strong>
                    <p>{{ user.position }}</p>
                </div>
                {% endif %}
                {% if user.cheif %}
                <div class="col-xs-6 col-sm-4">
                    <strong>Chief</strong>
                    <p>Ja</p>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-4">
            <a href="{% url 'user_overview' %}"><h4>Crew søknader</h4></a>
            <table data-provides="rowlink" class="table table-striped table-bordered">
                <tr><th>Crew</th><th>Status</th></tr>
                {% for app in apps %}
                    <tr><td><a href="{% url 'edit_application' app.id %}">{{ app.crew.name }}</a></td><td>{{ app.get_status_display }}</td></tr>
                {% endfor %}
            </table>
            <a href="{% url 'new_application' %}"><button class="btn btn-primary">Ny søknad</button></a>
            <h4>Deltatt</h4>
            <table class="table table-striped table-bordered">
                <tr><th>Arrangement</th></tr>
                
            </table>
        </div>
    </div>
{% endblock content%}
